@import "variables.scss";

body {
    margin: 0;
    padding: 0;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container.centered, .button.centered, .image.centered {
    align-self: center;
}

.container.left, .button.left, .image.left {
    align-self: left;
}

.container.right, .button.right, .image.right {
    align-self: right;
}

.text.centered, .heading.centered {
    text-align: center;
}

.text.left, .heading.left {
    text-align: left;
}

.text.right, .heading.right {
    text-align: right;
}

.justified {
    text-align: justify;
}

.heading {
    font-size: $font-size-medium;
    font-family: $font-family;
    color: $color-heading;
    margin: $margin-heading;
}

.large.heading {
    font-size: $font-size-large;
    margin: $margin-heading-large;
}

.text {
    font-size: $font-size-small;
    font-family: $font-family;
    color: $color-text;
}

.container {
    padding: $padding-container;
    width: calc(#{$width-sm-container} - #{$padding-container} * 2);
    display: inline-flex;
    flex-direction: column;
}

.container.row {
    flex-direction: row;
}

.button {
  font-size: $font-size-small;
  font-family: $font-family;
  padding: $padding-button;
  color: $color-medium;
  border: $border-button;
  -moz-transition: padding .3s ease-in;
  -o-transition: padding  .3s ease-in;
  -webkit-transition: padding  .3s ease-in;
  transition: padding  .3s ease-in;
}

.button:hover {
  padding: $padding-button-hover;
  color: $color-dark;
  border: $border-button-hover;
}

.padded {
    padding: 0;//$padding-large;
}

.very.padded {
    padding: 0;//$padding-huge;
}

.side.by.side {
    display: inline;
}

.small.image {
    width: $width-image-small;
    max-width: $width-image-full;
}

.medium.image {
    width: $width-image-medium;
    max-width: $width-image-full;
}

.large.image {
    width: $width-image-large;
    max-width: $width-image-full;
}

.full.image {
    width: $width-image-full;
}

#home-container {
    background-image: $background-image-home-container;
    background-position: center;
    background-size: cover;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
    .container {
        width: $width-md-container;
    }
    .half.container {
        width: $width-md-half;
    }
    .third.container {
        width: $width-md-third;
    }
}

* {
    padding: 0;
}